<div class="container">

	<table class="table table-stripped table-hover" class="col-sm-8">
		<thead>
			<tr>
				<th>#</th>
				<th>Country Name</th>
				<th>Capital</th>
				<th>Currency</th>
				<th>Population</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="countryInfo in paginateCountriesList">
				<td>{{$index}}</td>
				<td>{{countryInfo.name}} </td>
				<td>{{countryInfo.capital}}</td>
				<td ng-repeat="countryCurrency in countryInfo.currencies">{{countryCurrency.name}} [{{countryCurrency.code}}]</td>
				<td>{{countryInfo.population}}</td>
			</tr>
		</tbody>
	</table>

	<nav aria-label="Page navigation">
		<ul class="pagination">

			<li ng-click="paginateList(interval)" ng-repeat="interval in [] | range:totalPaginatePages">
				{{interval}}
			</li>

		</ul>
	</nav>

</div>