<div class="col-sm-8">

	<div class="panel panel-default">
		<div class="panel panel-heading">
			Multiplication Operation
		</div>
		<div class="panel panel-body">

			<div class="form-group">
				<label for="multiplicand">Multiplicand :</label>
				<input type="text" name="multiplicand" id="multiplicand" ng-model="multiplicationObj.multiplicand">
			</div>

			<div class="form-group">
				<label for="multiplier">Multiplier :</label>
				<input type="text" name="multiplier" id="multiplier" ng-model="multiplicationObj.multiplier">
			</div>
			<hr>
			<div class="col-sm-4">
				<button class="btn-btn-sm btn-primary btn-block" ng-click="multiplyNumbers()">Multiply</button>
			</div>

		</div>
	</div>
	<div class="col-sm-12">
		Multiplication of two numbers is: <span class="badge">{{product}}</span>
	</div>

</div>