<h3>{{title}}</h3>
<table class="table table-hover table-stripped">
	<thead>
		<tr>
			<th colspan='2'></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>`$scope.multiplicand` </td>
			<td>
				<div class="form-group">
					<label for="multiplicand"> Multiplicand: </label>
					<input name="multiplicand" type="text" id="multiplicand" class="form-control" ng-model="multiplicand">
				</div>
			</td>
		</tr>
		<tr>
			<td></td>
			<td>
				<div class="form-group">
					<label for="multiplier"> Multiplier: </label>
					<input name="multiplier" type="text" id="multiplier" class="form-control" ng-model="multiplier">
				</div>
			</td>
		</tr>
		<tr>
			<td colspan="2">
				{{productr}}
			</td>
		</tr>
	</tbody>
</table>