<div class="row">
	<div class="col-md-6 col-md-offset-3">

		<div class="panel panel-default" ng-controller="UserController as User_C">
			<div class="panel panel-heading">
				Add User
			</div>
			<div class="panel panel-body">
				<!-- 
					`form` tag start here
				`novalidate` disabled HTML5 validation.
				 -->
				<form name="userAddForm" novalidate class="form" ng-submit="validateUserForm()">

					<div class="form-group" ng-class="{
						'has-error': userAddForm.name.$invalid && userAddForm.name.$dirty,
						'has-success': userAddForm.name.$valid && userAddForm.name.$dirty 
						}">

						<label for="name" class="control-label">Name: </label>
						<input name="name" type="text" id="name" class="form-control" required ng-model="userForm.name" ng-minlength="userForm.name_minlength"
							ng-pattern="userForm.name_RegexPattern" ng-trim="true" ng-blur="validateUserForm()">


							<div class="alert alert-danger" ng-show="!userAddForm.name.$valid && userAddForm.name.$dirty && manuallyErrorsSet">
								{{validationFields.name}}
							</div>
			</div>

			<div class="form-group">
				<label for="email">E-mail Address: </label>
				<input name="email" type="email" id="email" class="form-control" ng-model="userForm.email" ng-required="required">
			</div>

			<div class="form-group">
				<label for="password">Password: </label>
				<input name="password" type="password" id="password" class="form-control" ng-model="userForm.password">
			</div>

			<div class="form-group">
				<button type="submit" name="add_user_btn" class="btn btn-sm btn-primary btn-block" id="add-user-btn">Add User</button>
			</div>

			</form>
			<!-- `form` tag end here -->
		</div>
	</div>

</div>
</div>