.first-controller{
	border: 2px groove #002EB8;
}
.second-controller{
	border: 2px groove #6B0050;
}
.third-controller{
	border: 2px groove #523D00;
}
.root-level-div{
	border: 2px groove #009926;
}
.level-1-nested-div{
	border: 2px groove #00506B;
}
.level-2-nested-div{
	border: 2px groove #C2C2C2;
}
.common-div{
	margin: 10px;

}